@model IEnumerable<Vidly.Models.Movies>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Movies")
</p>
<table class="table table-hover table-bordered" id="movie">
    <thead>
        <tr>
            <th>Name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody></tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#movie").DataTable({
                ajax: {
                    url: "/api/movies",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, movie) {
                            return "<a href='/movies/details/" + movie.id + "'>" + movie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    }
                ]
            });

        });
    </script>
}
