@model IEnumerable<Vidly.Models.Customers>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>

<table class="table table-bordered table-hover" id="customer">
    <thead>
        <tr>
            <th>Name</th>
            <th>Membership Type</th>
        </tr>
    </thead>

    <tbody></tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function() {
            var table = $("#customer").DataTable({
                ajax: {
                    url: "/api/customers",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name"
                    },
                    {
                        data: "membershipTypes.name"
                    }
            ]
        });

    });
    </script>
}

